.aui-header {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.4286; /* 20px equiv line-height */
}

.aui-header h1 {
    font-size: 24px;
    line-height: 1.25;  /* 30px equiv line-height */
}

.aui-header .aui-button.aui-style {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 10px;
}