.aui-toolbar .toolbar-dropdown .icon-dropdown,
.aui-toolbar .toolbar-splitbutton .icon-dropdown {
    *float: none;
    *height: 10px; /* we do it this way so all icon spacing is attached to the icon */
}

.aui-toolbar .toolbar-dropdown .icon-dropdown {
    background-position: -20px 10px;
}

.aui-toolbar .toolbar-trigger .icon-dropdown {
    float: left;
    margin: 0;
    height: 24px
}

.toolbar-splitbutton .icon-dropdown {
    *background-position: -58px -10px;
    *border: 0;
}
.aui-toolbar .toolbar-group .first .toolbar-trigger,
.aui-toolbar .toolbar-group .first .toolbar-trigger[aria-disabled="true"]:hover {
    border-left: 1px solid #ddd;
}

/* note different selectors for active Dropdown/Dropdown2 */
.aui-toolbar .toolbar-group .active .toolbar-trigger,
.aui-toolbar .toolbar-group .toolbar-trigger.active,
.aui-toolbar .toolbar-group .first .toolbar-trigger:hover {
    border-left: 1px solid #999;
}

.aui-toolbar .toolbar-group .toolbar-item-link {
    border-left: none;
}

.aui-toolbar .toolbar-group {
    *padding-bottom: 10px;
}

.aui-toolbar .toolbar-item,
.aui-toolbar .toolbar-trigger,
.aui-toolbar .toolbar-trigger span {
    *white-space: nowrap !important; 
}

.aui-toolbar .toolbar-group button.toolbar-trigger,
.aui-toolbar .toolbar-group input.toolbar-trigger {
    *width: 1%; /* prevent buttons collapsing in ie7 */
}

.aui-toolbar .toolbar-group button.toolbar-trigger,
.aui-toolbar .toolbar-group input.toolbar-trigger {
    *width: 1%; /* prevent buttons collapsing in ie7 */
}

/* START IE7 border shenanigins
   - remove the mysteriously-added black border on buttons
   - put the border on the item instead
   - has-buttons added to .toolbar-group containing buttons
   - multi class selectors purely for human readability, IE7 only reads the last class
*/
.aui-toolbar button {
    *border: 0 !important;
    *margin: 0;
    *padding: 0;
}
.aui-toolbar .toolbar-item.contains-button {
    *border: 1px solid #ddd !important;
    *height: 24px;
    *padding: 0;
}
.aui-toolbar .toolbar-item.toolbar-item-link {
    *border: 0 !important;
}
/* END IE7 border shenanigins */

/* Added by forceRightSplitToRow(), removing float from left split pushes the right split to its own row */
.toolbar-split-left.force-split {
    float: none;
}

/* disabled triggers - IE8 screws up without this */

.aui-toolbar .aui-dropdown2-trigger[aria-disabled="true"],
.aui-toolbar .toolbar-group.disabled .toolbar-trigger,
.aui-toolbar .toolbar-item.disabled .toolbar-trigger,
.aui-toolbar .disabled .toolbar-trigger,
.aui-toolbar .toolbar-trigger.disabled {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /*IE8*/
    filter: alpha(opacity=50); /* IE6-7 */
}

.aui-toolbar .disabled .first .toolbar-trigger,
.aui-toolbar .disabled .toolbar-item.first .toolbar-trigger,
.aui-toolbar .toolbar-group .disabled.first .toolbar-trigger,
.aui-toolbar .toolbar-group .first .disabled.toolbar-trigger {
    border-left: 1px solid #ddd;
}

