/*
ADG Theme using ADG colour palette
*/

pre code {
  background: #f5f5f5;
  display: block; 
  padding: 0 1em;
}

pre .tag .title,
pre .keyword,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #205081;
}

pre .tag {
  color: #654982;
  font-weight: bold;
}

pre .literal {
  color: #14892c;
}

pre code {
  color: #000;
}

pre code .constant {
	color: #14892c;
}

pre .class .title {
	color: #000;
}

pre .attribute {
  color: #d04437;
  font-weight: bold;
}

pre .symbol, 
pre .symbol .string{
  color: #d04437;
}

pre .value,
pre .regexp {
	color: #14892c;
}

pre .tag .value,
pre .string,
pre .subst,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #14892c;
}

pre .title {
  color: #594300;
}

pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula, 
pre .soyDoc {
  color: #707070;
}

pre .keyword,
pre .literal,
pre .css .id,
pre .phpdoc,
pre .title,
pre .haskell .type,
pre .vbscript .built_in,
pre .sql .aggregate,
pre .rsl .built_in,
pre .smalltalk .class,
pre .diff .header,
pre .chunk,
pre .winutils,
pre .bash .variable,
pre .apache .tag,
pre .tex .special,
pre .request,
pre .status {
  font-weight: bold;
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
