/* ----- table loading styles ----- */
.aui-restfultable-init {
    text-align: center;
    vertical-align: center;
}

.aui-restfultable-init .aui-restfultable-throbber {
    background: url("wait.gif") center center no-repeat;
    width: 20px;
    height: 16px;
    display: inline-block;
}

.aui-restfultable-init .aui-restfultable-loading {
    top: -4px;
    position: relative;
}

.aui-restfultable .aui-restfultable-row.loading .aui-restfultable-throbber {
    background-image: url("wait.gif");
    background-repeat: no-repeat;
    background-position: 2px center;
}

table.aui.aui-restfultable > thead > tr > th {
    background-color:#fff;
}

/* ----- Generic row - All states ----- */
.aui-restfultable-row td {
    vertical-align: top;
}

.aui-restfultable-row .aui-restfultable-order {
    width: 8px;
}

.aui-restfultable-row .aui-restfultable-operations {
    width: 160px;
    white-space: nowrap;
}

.aui-restfultable-row .aui-restfultable-throbber {
    width: 20px;
}

.aui-restfultable-row .aui-restfultable-operations input.button,
.aui-restfultable .aui-restfultable-row select {
    margin-top: 2px;
}

.aui-restfultable .aui-restfultable-row input.text,
.aui-restfultable .aui-restfultable-row select {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    max-width: none;
    width: 100%;
}

.aui-restfultable .aui-restfultable-order {
    width: 8px;
}

.aui-restfultable .aui-restfultable-row .aui-restfultable-draghandle {
    display: inline-block;
    width: 8px;
    height: 100%;
    min-height: 24px;
    margin-bottom: -6px;
    background-image: url("experimentalimages/bg-grippy.png");
    cursor: move;
}

/* ----- Create row ----- */
.aui-restfultable-create td {
    border: solid #ccc;
    border-width: 1px 0;
}

.aui-restfultable .aui-restfultable-create .aui-restfultable-draghandle {
    display: none;
}

/* ----- Focused row ----- */
.aui-restfultable-row.aui-restfultable-focused td {
    background-color: #ebf2f9;
}

/* ----- Disabled row ----- */
.aui-restfultable-row.aui-restfultable-disabled td {
    opacity: 0.5;
}

/* ----- Readonly row ----- */
.aui-restfultable-readonly.aui-restfultable-movable td {
    background-color: #f5f5f5 !important;
}

.aui-restfultable-readonly .aui-restfultable-editable-no-value .aui-restfultable-editable {
    visibility: hidden;
}

.aui-restfultable-readonly .aui-restfultable-operations a {
    visibility: hidden;
}

.aui-restfultable-readonly .aui-restfultable-operations a {
    visibility: visible;
}

.aui-restfultable-readonly .aui-restfultable-editable {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    height: 1%;
    padding: 3px 24px 2px 4px;
    position: relative;
}

.aui-restfultable-readonly .aui-restfultable-editable .aui-iconfont-edit {
    margin: 0;
    position: absolute;
    right: 4px;
    top: 4px;
    visibility: hidden;
}

.aui-restfultable-allowhover .aui-restfultable-readonly td:hover .aui-restfultable-editable .aui-iconfont-edit {
    visibility: visible;
}

.aui-restfultable-readonly .aui-restfultable-editable em {
    color: #999;
}

/* ----- Hover row ----- */
.aui-restfultable-row.aui-restfultable-active {
    background-color: #f5f5f5;
}

.aui-restfultable-allowhover tr:hover td {
    background-color: #f5f5f5;
}

.aui-restfultable-allowhover tr.aui-restfultable-focused td {
    background-color: #ebf2f9;
}

.aui-restfultable-allowhover td:hover .aui-restfultable-editable {
    visibility: visible;
    background: #fffdf6;
    cursor: pointer;
}

/* ----- Validation ----- */
.aui-restfultable .error {
    clear: both;
    color: #d04437;
    display: block;
    margin: 5px 0 0 0;
}
