<div class="aui-toolbar" id="disabled-buttons-toolbar">
    <div class="toolbar-split toolbar-split-left">
        <ul class="toolbar-group">
            <li class="toolbar-item disabled"><a href="#" class="toolbar-trigger">Off (items)</a>
            </li>
            <li class="toolbar-item disabled"><a href="#" class="toolbar-trigger">Off</a></li>
            <li class="toolbar-item disabled"><a href="#" class="toolbar-trigger">Off</a></li>
            <li class="toolbar-item disabled"><a href="#" class="toolbar-trigger">Off</a></li>
        </ul>
        <ul class="toolbar-group">
            <li class="toolbar-item"><a href="#" class="toolbar-trigger disabled">Off (triggers)</a>
            </li>
            <li class="toolbar-item"><a href="#" class="toolbar-trigger disabled">Off</a></li>
            <li class="toolbar-item"><a href="#" class="toolbar-trigger disabled">Off</a></li>
            <li class="toolbar-item"><a href="#" class="toolbar-trigger disabled">Off</a></li>
        </ul>
        <ul class="toolbar-group disabled">
            <li class="toolbar-item"><a href="#" class="toolbar-trigger">Off (whole group)</a></li>
            <li class="toolbar-item"><a href="#" class="toolbar-trigger">Off</a></li>
            <li class="toolbar-item"><a href="#" class="toolbar-trigger">Off</a></li>
            <li class="toolbar-item"><a href="#" class="toolbar-trigger">Off</a></li>
        </ul>
        <ul class="toolbar-group disabled">
            <li class="toolbar-item disabled">
                <a href="#" class="toolbar-trigger disabled">Off (group, item and trigger)</a></li>
            <li class="toolbar-item disabled"><a href="#" class="toolbar-trigger disabled">Off</a>
            </li>
            <li class="toolbar-item disabled"><a href="#" class="toolbar-trigger disabled">Off</a>
            </li>
            <li class="toolbar-item disabled"><a href="#" class="toolbar-trigger disabled">Off</a>
            </li>
        </ul>
        <ul class="toolbar-group">
            <li class="toolbar-item disabled"><a href="#" class="toolbar-trigger">Off</a></li>
            <li class="toolbar-item"><a href="#" class="toolbar-trigger">On</a></li>
            <li class="toolbar-item disabled"><a href="#" class="toolbar-trigger">Of</a></li>
        </ul>
        <ul class="toolbar-group">
            <li class="toolbar-item"><a href="#" class="toolbar-trigger">On</a></li>
            <li class="toolbar-item disabled"><a href="#" class="toolbar-trigger">Off</a></li>
            <li class="toolbar-item"><a href="#" class="toolbar-trigger">On</a></li>
        </ul>
        <ul class="toolbar-group">
            <li class="toolbar-item"><a href="#" class="toolbar-trigger">On</a></li>
            <li class="toolbar-item disabled"><a href="#" class="toolbar-trigger">Off</a></li>
        </ul>
        <ul class="toolbar-group">
            <li class="toolbar-item disabled"><a href="#" class="toolbar-trigger">Off</a></li>
            <li class="toolbar-item"><a href="#" class="toolbar-trigger">On</a></li>
        </ul>
        <ul class="toolbar-group">
            <li class="toolbar-item disabled"><a href="#" class="toolbar-trigger">Off</a></li>
            <li class="toolbar-item disabled"><a href="#" class="toolbar-trigger">Off</a></li>
            <li class="toolbar-item"><a href="#" class="toolbar-trigger">On</a></li>
            <li class="toolbar-item"><a href="#" class="toolbar-trigger">On</a></li>
        </ul>
        <ul class="toolbar-group">
            <li class="toolbar-item disabled"><a href="#" class="toolbar-trigger">Off</a></li>
            <li class="toolbar-item"><a href="#" class="toolbar-trigger">On</a></li>
            <li class="toolbar-item disabled"><a href="#" class="toolbar-trigger">Off</a></li>
            <li class="toolbar-item"><a href="#" class="toolbar-trigger">On</a></li>
        </ul>
        <ul class="toolbar-group">
            <li class="toolbar-item"><a href="#" class="toolbar-trigger">On</a></li>
            <li class="toolbar-item disabled"><a href="#" class="toolbar-trigger">Off</a></li>
            <li class="toolbar-item"><a href="#" class="toolbar-trigger">On</a></li>
            <li class="toolbar-item disabled"><a href="#" class="toolbar-trigger">Off</a></li>
        </ul>
    </div>
</div>