<ul id="dropdown-test">
    <li class="aui-dd-parent">
    <a href="#" class="aui-dd-trigger">A Test Dropdown</a>
        <ul class="aui-dropdown">
            <li class="dropdown-item"><a href="#" class="item-link">Link 1</a></li>
            <li class="dropdown-item"><a href="#" class="item-link">Link 2</a></li>
            <li class="dropdown-item"><a href="#" class="item-link">Link 3</a></li>
        </ul>
    </li>
</ul>