<!DOCTYPE html>
<html lang="en-au">
<head>
    <meta charset="utf-8">
    <title>AUI RestfulTable</title>
    <meta name="decorator" content="atl.general">
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-experimental-restfultable")
    $webResourceManager.requireResource("auiplugin-tests:restfultable-example")
</head>
<body>
<div id="message-area"></div>
<table id="contacts-table" class="aui"></table>


<table id="contacts-table-addPositionBottom" class="aui"></table>

</body>
</html>
